@{
    ViewData["Title"] = "Download File";
}

<h2>Download File</h2>

<form method="post">
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required />
    </div>
    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required />
    </div>
    <div>
        <label for="fileName">File Name:</label>
        <input type="text" id="fileName" name="fileName" required />
    </div>
    <div>
        <button type="submit">Continue</button>
    </div>
</form>
