<!DOCTYPE html>
<html>
<head>
    <title>Зберігання стану застосунку та логування</title>
</head>
<body>
    <form method="post" action="/Home/SaveData">
        <label for="value">Значення:</label><br>
        <input type="text" id="value" name="value"><br>
        <label for="expirationDate">Дата та час закінчення:</label><br>
        <input type="datetime-local" id="expirationDate" name="expirationDate"><br><br>
        <input type="submit" value="Зберегти дані">
    </form>
</body>
</html>
