@model lr6.Models.User

<form form method="post" action="/Home/OrderConfirmation">
    @for (var i = 0; i < Model.OrderedProductUnits; i++)
    {
        <label>Product @(i + 1)</label>

        <br>
        <label for="Name">Name:</label>
        <input type="text" id="Name" name="products[@i].Name" required>

        <br>
        <label for="Quantity">Quantity:</label>
        <input type="number" id="Quantity" name="products[@i].Quantity" required>

        <br>
        <br />
    }
    <button type="submit">Confirm Order</button>
</form>
